
body {
	font-family: Courier; 
	font-size: 18px;
	color: #424242;
	text-align: center;
	background-color: #A2BFCE;
}

h1 {
	font-size: 42px;
	font-family: Trebuchet MS;
	background-color: white;
	border-style: groove;
	border-width: 8px;
	border-color: #A9A9A9;
}

p {
	margin-left: 10%; 
	margin-right: 10%;
}