body {
	font-family: Trebuchet MS;
	background-color: #A2BFCE;
	color: #424242;

}

h1, h2 {
	text-align: center;
	background-color: white; 

}

/*used https://www.w3schools.com/howto/howto_css_two_columns.asp for column layout*/

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    clear: both;
}